#logo {
    width: 50px ;
}

#nomSite {
    display:inline ;
}

body{
    background-color: #f8f9fa ;
}

nav{
    margin-bottom: 10px ;
    box-shadow: 1px 1px 1px 1px rgb(126, 125, 125) ;
}

#bouton_co{
    display: block ;
    margin:auto ;
}

.inline_centre{
    display: block ;
    margin:auto ;
}

#connexion{
    border-width: 3px ;
    border-radius: 5px ;
    box-shadow: 2px 2px 100px 5px rgb(126, 125, 125) ;
    padding: 10px ;
    background-color: white ;
}